.topnav{
    overflow: hidden;
    width: 100%;
    top: 0px;
    /*position: fixed;*/
    background-color: rgb(248, 180, 159);
}
body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav-right {
    float: right;
}
.a{
    color: rgb(243, 242, 240);
}
.content{
    background-color: rgb(230, 158, 137);
    height: 600px;
    position: relative;
}
h1{
    margin-top: 0%;
    color: rgb(252, 252, 252);
    padding-left: 10%;
    padding-top: 5%;
}
p{
    color: snow;
    width: 30%;
    padding-left: 5%;
}
.btn{
    size: 10px;
}
.h{
    color: rgb(51, 45, 45);
    padding-left: 0%;
    text-align: center;
}
footer{
    background-color: rgb(197, 142, 125);
    height: 300px;
    text-align: center;
    color: rgb(252, 252, 252);
}
.con{
    text-align: center;
}
.anc{
    color: rgb(197, 142, 125);
    size: 10rem;
    margin: 50px 50px;
    position: relative;
    top: 60px;
}

h4{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 15px;
}
.imaa{
    width: 40%;
    height: 80%;
    position: relative;
    left: 400px;
    bottom: 350px;
}
.code{
    position: relative;
    left: 420px;
    top: 70px;
}
.gaming{
    position: relative;
    left: 570px;
    top: 24px;
}
.guitar{
    position: relative;
    left: 735px;
    bottom: 20px;
}
.table{
    position: relative;
    left: 860px;
    bottom: 65px;
}
.faade{
    color: rgb(59, 52, 52);
}
.tech{
    height: 570px;
    background-color: rgb(240, 235, 235);
}
.skills{
    padding-left: 0%;
    text-align: center;

    color: rgb(71, 58, 58);
}
.skill{
    height: 570px;
    background-color: rgb(252, 227, 230);
}
.w3{
    width: 50%;
    height: 50px;
}
.progresshtml{
    margin: 40px 40px;
    border-radius: 5px;
    width: 410px;
    background-color: rgb(251, 253, 253);
    height: 20px;
    position: relative;
    left: 200px;
}
.progressfillhtml{
    width: 90%;
    height: 100%;
    background: rgb(197, 142, 125);
}
.progresscss{
    margin: 40px 40px;
    border-radius: 5px;
    width: 410px;
    background-color: rgb(251, 253, 253);
    height: 20px;
    position: relative;
    left: 200px;
}
.btn{
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    border-color: rgb(243, 242, 240);
    color: white;
    background-color:  rgb(230, 158, 137);
}
.sa{
    position: relative;
    bottom: 450px;
    left: 80px;
}
.as{
    position: relative;
    bottom: 450px;
    left: 100px;
}
.progressfillcss{
    width: 80%;
    height: 100%;
    background: rgb(197, 142, 125);
    border: none;
}
.progressjavas{
    margin: 40px 40px;
    border-radius: 5px;
    width: 410px;
    background-color: rgb(251, 253, 253);
    height: 20px;
    position: relative;
    left: 200px;
}
.progressfilljavas{
    width: 75%;
    height: 100%;
    background: rgb(197, 142, 125);
}
.ancs{
    color: rgb(197, 142, 125); 
}
.htm{
    position: relative;
    left: 250px;
    top: 30px;
}
.cs{
    position: relative;
    left: 250px;
    top: 30px;
}
.jv{
    position: relative;
    left: 250px;
    top: 30px;
}
.pic{
    padding-bottom: 40px;
}
.pick{
    position: relative;
    bottom: 80px;
}
.pickss{
    position: relative;
    bottom: 120px;
}
